$primary-color: #f77361;
$primary-color-light: #f9b389;
$primary-color-dark: #cf4836;
$text-color:#222222;
$text-color-light: #888888;
$table-color: #f9f5f9;
$background-color: #fcfcfc;
$border-radius: 6px;
$light-gray: #eeeeee;
$link-color: 	#1ab7d5;
$link-hover-color: #1096d0;